/*
Theme Name: Desenvolvimentos
Theme URI: http://www.desenvolvimentos.com.br
Author: HC Desenvolvimentos
Author URI: https://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: desenvolvimentos
Tags: 

--------------------------------------------
ESTRUTURAÇÃO BASE (HC Desenvolvimentos v1)
--------------------------------------------
**** DECLARAÇÃO DE VARIÁVEIS
**** ESTILOS GERAIS
**** BODY
**** TOPO
**** RODAPÉ
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA

font-family: 'Sen', sans-serif;
font-family: 'Roboto', sans-serif;

*/

/* VARIÁVEIS */
:root{
  --sen: 'Sen', sans-serif;
  --roboto: 'Roboto', sans-serif;
  --azul-principal: #009bdb;
}
/* VARIÁVEIS */

/* GERAL */
.full-container, .large-container, .container-areas-atuacao{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.full-container{
	max-width: 1700px;
}
.large-container{
	max-width: 1255px;
}
.container-areas-atuacao{
	max-width: 1339px;
}
.titulo{
	margin: 0;
	font-weight: 600;
	font-family: var(--sen);
	font-size: 62px;
	line-height: 65px;
	color: #001c28;
}
.titulo-secao{
	font-size: 24px;
	line-height: 46px;
	color: rgba(109, 114, 120, 0.6);
	text-transform: uppercase;
	letter-spacing: -1.5px;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
.hidden{
	display: none;
}
.mobile-element{
	display: none !important;
}
.desktop-element{
	display: inline-block !important;
}
#formularioFaleConosco{
	padding: 40px 0 0;
	opacity: 0;
	background-color: #131B23;
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
}
#formularioFaleConosco.show-formulario{
	opacity: 1;
}
	#formularioFaleConosco .fechar-formulario, #formularioFaleConosco .titulo, #formularioFaleConosco form label{
		padding: 0 40px;
	}
	#formularioFaleConosco .fechar-formulario{
		display: block;
		text-align: right;
	}
		#formularioFaleConosco .fechar-formulario img{
			width: 100%;
			max-width: 22px;
			cursor: pointer;
		}
	#formularioFaleConosco .titulo{
		font-size: 26px;
		line-height: 21px;
		color: #fff;
		margin: 8px 0 25px;
	}
	#formularioFaleConosco form{}
		#formularioFaleConosco form label{
			margin: 0 0 25px;
			display: block;
			position: relative;
		}
		#formularioFaleConosco form label::before{
			content: '';
			position: absolute;
			top: 0;
			right: 46px;
			width: 15px;
			height: 18px;
			display: inline-block;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}
		#formularioFaleConosco form label:nth-child(1)::before{
			background-image: url('img/user.svg');
		}
		#formularioFaleConosco form label:nth-child(2)::before{
			background-image: url('img/email.svg');
			width: 16px;
		}
		#formularioFaleConosco form label:nth-child(3)::before{
			background-image: url('img/smartphone.svg');
			width: 15px;
		}
			#formularioFaleConosco form label input{
				font-size: 16px;
				line-height: 19px;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid #d8d8d8;
				outline: none;
				display: block;
				width: 100%;
				padding: 0 28px 5px 5px;
				color: #d8d8d8;
			}
			#formularioFaleConosco form label input::placeholder{
				color: rgba(255, 255, 255, 0.3);
				font-family: var(--sen);
			}
		#formularioFaleConosco form .div-button-enviar{
			margin: 68px 0 0;
		}
			#formularioFaleConosco form .div-button-enviar input{
				font-size: 16px;
				line-height: 19px;
				font-family: var(--sen);
				color: #fff;
				background-color: var(--azul-principal);
				border: none;
				font-weight: 600;
				display: block;
				width: 100%;
				padding: 16px 0;
				outline: none;
			}
.div-pop-up-video-conheca-prohawk{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	overflow: hidden;
	display: block;
	background-color: rgba(0, 0, 0, 0.38);
	z-index: 2;
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
}
.div-pop-up-video-conheca-prohawk.open-pop-up-video{
	height: 100%;
}
	.div-pop-up-video-conheca-prohawk .container-pop-up-video{
		width: 100%;
		max-width: 90%;
		margin: 0 auto;
		display: block;
		height: 100%;
		text-align: center;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		position: relative;
	}
		.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video .close-pop-up-video{
			position: absolute;
			top: 0;
			right: 0;
			width: 44px;
			height: 44px;
			cursor: pointer;
		}
			.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video .close-pop-up-video img{
				width: 100%;
			}
		.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure{
			margin: 0 auto;
			width: 77%;
			height: 90%;
		}
			.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure iframe{
				width: 100%;
				height: 100%;
			}
.div-pop-up-formulario{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	display: block;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.38);
	-webkit-transition: ease-in-out .2s;
	-moz-transition: ease-in-out .2s;
	-ms-transition: ease-in-out .2s;
	-o-transition: ease-in-out .2s;
	transition: ease-in-out .2s;
	z-index: 2;
}
.div-pop-up-formulario.abrir-pop-up{
	height: 100%;
	overflow-y: scroll;
}
	.div-pop-up-formulario .container-pop-up{
		display: block;
		width: 100%;
		max-width: 315px;
		height: 360px;
		background-color: #fff;
		cursor: default;
		-webkit-transition: ease-in-out .1s;
		-moz-transition: ease-in-out .1s;
		-ms-transition: ease-in-out .1s;
		-o-transition: ease-in-out .1s;
		transition: ease-in-out .1s;
		font-size: 0;
		margin: 150px auto;
	}
		.div-pop-up-formulario .container-pop-up .conteudo-pop-up, .div-pop-up-formulario .container-pop-up .container-formulario{
			display: inline-block;
			width: 100%;
			/*max-width: 50%;*/
			vertical-align: top;
		}
		.div-pop-up-formulario .container-pop-up .conteudo-pop-up{
			padding: 45px 40px 32px;
			display: none;
		}
		.div-pop-up-formulario .container-pop-up img{
			width: 100%;
			max-width: 65px;
		}
		.div-pop-up-formulario .container-pop-up .titulo{
			font-size: 20px;
			line-height: 24px;
			color: #131b23;
			margin: 35px 0 23px;
			display: block;
		}
		.div-pop-up-formulario .container-pop-up p{
			font-size: 16px;
			line-height: 26px;
			color: rgba(0, 28, 40, 0.6);
			margin: 0;
		}
		.div-pop-up-formulario .container-pop-up .span-arrow{
			display: block;
			margin: 10px 0 0;
			-webkit-transition: ease-in-out .1s;
			-moz-transition: ease-in-out .1s;
			-ms-transition: ease-in-out .1s;
			-o-transition: ease-in-out .1s;
			transition: ease-in-out .1s;
			cursor: pointer;
		}
			.div-pop-up-formulario .container-pop-up .span-arrow img{
				width: 100%;
				max-width: 22px;
			}
		.div-pop-up-formulario .container-pop-up .container-formulario{
			background-color: #131b23;
			width: 100%;
			height: 100%;
			overflow: visible;
			box-shadow: 20px 17px 45px 0 rgba(0,0,0,0.15);
		}
/* GERAL */

/* BODY */
body{}
body.stopScroll{
	overflow-y: hidden;
}
/* BODY */

/* HEADER */
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: block;
	z-index: 2;
	padding: 70px 0 0;
}
	header .large-container{
		position: relative;
	}
	header .row{
		align-items: center;
	}
	header a.logo{
		display: block;
	}
	header a.logo-mobile{}
		header a.logo figure{
			margin: 0;
		}
			header a.logo figure img{
				width: 100%;
				max-width: 255px;
			}
	header a.logo-mobile{}
		header a.logo-mobile figure{
			margin: 0 0 68px;
			display: none;
		}
			header a.logo-mobile figure img{
				width: 100%;
				max-width: 150px;
			}
	header .col-sm-9{
		position: initial;
	}
	header .open-menu-mobile{
		display: none;
		position: absolute;
		top: 0;
		right: 30px;
	}
		header .open-menu-mobile img{
			width: 24px;
		}
	header .navbar{
		display: block;
		padding: 0;
		position: initial;
	}
		header .navbar .close-menu-mobile{
			float: right;
			display: none;
		}
			header .navbar .close-menu-mobile img{
				width: 24px;
			}
		header .navbar ul{
			padding: 0;
			margin: 0;
			font-size: 0;
			text-align: right;
		}
			header .navbar ul li{
				display: inline-block;
				margin-left: 85px;
			}
				header .navbar ul li a{
					font-size: 18px;
					line-height: 22px;
					color: #fff;
					font-family: var(--sen);
					font-weight: 600;
				}
		header .navbar .redes-sociais{
			display: none;
		}
			header .navbar .redes-sociais a{
				display: block;
				font-size: 18px;
				line-height: 44px;
				color: rgba(255, 255, 255, 0.5);
				font-family: var(--roboto);
			}
/* HEADER */

/* FOOTER */
footer{
	background-color: #131415;
	padding: 82px 0 0;
}
	footer .logo-footer{
		width: 100%;
		margin: 0;
	}
		footer .logo-footer img{
			width: 100%;
			max-width: 187px;
		}
	footer .selos-prohawk{
		padding: 0;
		margin: 30px 0 0;
		font-size: 0;
		width: 100%;
		max-width: 200px;
	}
		footer .selos-prohawk li{
			display: inline-block;
			width: 100%;
			max-width: 25%;
		}
			footer .selos-prohawk li img{
				width: auto;
				height: 38px;
			}
	footer .col-md-3 .menu-footer{
		width: 100%;
		max-width: 274px;
		margin: 0 0 0 auto;
	}
	footer .col-md-3 .menu-footer:nth-child(1){
		margin: 0 0 37px auto;
	}
	footer .menu-footer{}
		footer .menu-footer .titulo{
			font-size: 16px;
			line-height: 19px;
			font-family: var(--roboto);
			color: #fff;
			margin: 0 0 8px;
		}
		footer .menu-footer nav{}
			footer .menu-footer nav ul{
				padding: 0;
				margin: 0;
			}
			footer .menu-footer nav a, footer .menu-footer nav span{
				display: block;
				width: 100%;
				max-width: fit-content;
				font-size: 16px;
				line-height: 32px;
				color: rgba(255, 255, 255, 0.5);
				font-family: var(--roboto);
				cursor: pointer;
			}
	footer .copyright{
		background-color: #e8e8e8;
		margin: 95px 0 0;
		padding: 7px 0;
	}
		footer .copyright .col-md-6:nth-child(2) p{
			text-align: right;
		}
		footer .copyright p{
			margin: 0;
			font-size: 13px;
			line-height: 35px;
			font-family: var(--roboto);
			color: #131B23;
		}
			footer .copyright p a{
				color: #131B23;
				display: inline-block;
			}
/* FOOTER */

/* PÁGINA INICIAL */
.pg-inicial{}
	.pg-inicial .secao-destaque{
		position: relative;
		font-size: 0;
		overflow: hidden;
	}
		.pg-inicial .secao-destaque .conteudo-destaque{
			position: relative;
			padding: 0;
			display: block;
			width: 100%;
			background-image: url(img/banner.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			background-attachment: fixed;
		}
			.pg-inicial .secao-destaque .conteudo-destaque .lente-destaque{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
			}
			.pg-inicial .secao-destaque .conteudo-destaque figure{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: block;
				margin: 0;
			}
				.pg-inicial .secao-destaque .conteudo-destaque figure video{
					width: 100%;
				}
			.pg-inicial .secao-destaque .conteudo-destaque article{
				position: relative;
				padding: 310px 0 256px;
				z-index: 1;
			}
				.pg-inicial .secao-destaque .conteudo-destaque article .titulo{
					font-size: 48px;
					line-height: 56px;
					color: #fff;
					font-weight: 600;
				}
					.pg-inicial .secao-destaque .conteudo-destaque article .titulo span{
						display: inline-block;
					}
				.pg-inicial .secao-destaque .conteudo-destaque article p{
					margin: 30px 0 0;
					font-size: 24px;
					line-height: 32px;
					color: rgba(255, 255, 255, 0.5);
					font-family: var(--roboto);
					font-weight: 300;
				}
	.pg-inicial .secao-sobre{
		position: relative;
		background: #fff;
		overflow: hidden;
	}
		.pg-inicial .secao-sobre article{
			position: relative;
			z-index: 1;
		}
		.pg-inicial .secao-sobre .titulo-sobre-prohawk{
			padding: 100px 0;
			background-color: #009ADC;
		}
			.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre{
				font-size: 0;
			}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre .titulo{
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h4.titulo{
					max-width: 42.6%;
					color: rgba(255, 255, 255, 0.6);
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo{
					font-size: 48px;
					line-height: 54px;
					max-width: 57.4%;
					color: #fff;
				}
			.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre{
				margin: 0;
				height: 355px;
				font-size: 0;
			}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure, .pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
					display: inline-block;
					width: 100%;
					vertical-align: top;
				}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure{
					margin: 0;
					max-width: 44.5%;
					z-index: 2;
					position: relative;
				}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img{
						width: 100%;
						max-width: 626px;
						-webkit-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-moz-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-ms-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-o-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
						-webkit-transform: translateY(-10px);
						-moz-transform: translateY(-10px);
						-ms-transform: translateY(-10px);
						-o-transform: translateY(-10px);
						transform: translateY(-10px);
					}
				.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
					max-width: 55.5%;
				}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p{
						margin: 93px 0 0;
						font-size: 18px;
						line-height: 32px;
						color: rgba(255, 255, 255, 0.8);
						font-family: var(--roboto);
						width: 100%;
						max-width: 714px;
						/*padding-left: 30px;*/
					}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais{
						display: block;
						margin: 30px 0 0;
					}
						.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais span{
							font-size: 16px;
							line-height: 19px;
							font-family: var(--sen);
							font-weight: 600;
							color: var(--azul-principal);
							background-color: #fff;
							display: inline-block;
							padding: 20px 78px;
							cursor: pointer;
						}
					.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk{
						margin: 50px 252.8px 0 auto;
						padding: 0;
						width: 100%;
						max-width: 716px;
						padding-left: 30px;
					}
						.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li{
							display: inline-block;
							width: 100%;
							max-width: 15%;
						}
							.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li img{
								width: 100%;
								max-width: 59px;
							}
		.pg-inicial .secao-sobre .full-container{
			/*background-image: url(img/bksobre.png);*/
			/*background-repeat: no-repeat;*/
			/*background-size: auto;*/
			position: relative;
		}
		.pg-inicial .secao-sobre .full-container::before{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 44.12%;
			height: 100%;
			background-image: url(img/bksobre.png);
			background-repeat: no-repeat;
			background-size: 822px;
			background-position: right;
		}
		.pg-inicial .secao-sobre .sobre-selo-prohawk{
			width: 100%;
			max-width: 528px;
			margin: 0 18.3% 0 auto;
			padding: 74px 0 84px;
		}
			.pg-inicial .secao-sobre .sobre-selo-prohawk figure{
				margin: 0;
			}
				.pg-inicial .secao-sobre .sobre-selo-prohawk figure img{
					width: 100%;
					max-width: 146px;
				}
			.pg-inicial .secao-sobre .sobre-selo-prohawk .titulo{
				font-size: 48px;
				line-height: 54px;
				margin: 54px 0 42px;
			}
			.pg-inicial .secao-sobre .sobre-selo-prohawk p{
				font-size: 16px;
				line-height: 32px;
				color: #131b23;
				font-family: var(--roboto);
				margin: 0;

			}
			.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante{
				margin: 55px 0 0;
				border-left: 1px solid #f00;
				padding-left: 30px;
			}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante p{
					margin: 22px 0 28px;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante p:last-child{
					margin: 22px 0 0;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo{
					margin: 0;
					font-family: var(--sen);
					font-weight: 500;
					padding-left: 37px;
					position: relative;
					font-size: 22px;
					line-height: 27px;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::before, .pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::after{
					content: '';
					position: absolute;
					top: 50%;
					display: block;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::before{
					left: 0;
					width: 24px;
					height: 22px;
					background-image: url(img/alerta.svg);
					background-position: center;
					background-size: cover;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .titulo::after{
					right: 0;
					width: 15px;
					height: 2px;
					background-color: #f00;
				}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante .red-text{
					color: #ff0000;
				}
			.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk{
				margin: 52px 0 0;
				padding: 0;
				font-size: 0;
				padding-left: 30px;
				width: 100%;
				max-width: 500px;
			}
				.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk li{
					display: inline-block;
					width: 100%;
					max-width: 25%;
				}
					.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk li img{
						width: auto;
						height: 100%;
						max-height: 81px;
					}
	.pg-inicial .secao-areas-atuacao{
		background-color: #e8e8e8;
		overflow-x: hidden;
	}
		.pg-inicial .secao-areas-atuacao .areas-atuacao-background{
			height: 284px;
			background-image: url(img/bkatuacao.png);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
			.pg-inicial .secao-areas-atuacao .areas-atuacao-background figure{
				margin: 0;
			}
				.pg-inicial .secao-areas-atuacao .areas-atuacao-background figure img{}
		.pg-inicial .secao-areas-atuacao .large-container{
			padding: 85px 0 35px;
			position: relative;
		}
		.pg-inicial .secao-areas-atuacao .large-container::before{
			content: '';
			position: absolute;
			top: 0;
			left: -223px;
			width: 186px;
			height: 100%;
			background-image: url(img/bkservicos.png);
			background-repeat: no-repeat;
			background-size: cover;
		}
		.pg-inicial .secao-areas-atuacao article{}
			.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao{
				font-size: 0;
			}
				.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos, .pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem{
					display: inline-block;
					width: 100%;
					max-width: 50%;
					vertical-align: top;
				}
				.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos{
					padding-left: 40px;
				}
					.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos .titulo{}
					.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos h4.titulo{}
					.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos h2.titulo{
						width: 100%;
						max-width: 550px;
						font-size: 48px;
						line-height: 65px;
						margin: 50px 0 0;
					}
				.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem{
					margin: 0;
					position: relative;
				}
					.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img{
						width: 828px;
						position: absolute;
						max-width: 828px;
						top: -197px;
						right: -147px;
						-webkit-transition: ease-in-out 1s;
						-moz-transition: ease-in-out 1s;
						-ms-transition: ease-in-out 1s;
						-o-transition: ease-in-out 1s;
						transition: ease-in-out 1s;
					}
					.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img.translate-drone{
						-webkit-transform: translateY(-20px) scale(1.05);
						-moz-transform: translateY(-20px) scale(1.05);
						-ms-transform: translateY(-20px) scale(1.05);
						-o-transform: translateY(-20px) scale(1.05);
						transform: translateY(-20px) scale(1.05);
					}
			.pg-inicial .secao-areas-atuacao article .areas-atuacao{
				margin: 50px 0 0;
				padding: 0;
				font-size: 0;
				overflow: hidden;
			}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li{
					display: inline-block;
					width: 100%;
					max-width: 25%;
					margin: 0 0 30px;
					padding: 45px 3.2% 32px;
					cursor: default;
					position: relative;
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li:hover{
					background-color: #fff;
					box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li.correct-transition{
					-webkit-transition: ease-in-out .1s;
					-moz-transition: ease-in-out .1s;
					-ms-transition: ease-in-out .1s;
					-o-transition: ease-in-out .1s;
					transition: ease-in-out .1s;
				}
				.pg-inicial .secao-areas-atuacao article .areas-atuacao li.active-li{
					background-color: #fff;
					box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
					z-index: 2;
				}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li figure{
						width: 100%;
						max-width: 65px;
						background-size: 65px;
						background-repeat: no-repeat;
					}
						.pg-inicial .secao-areas-atuacao article .areas-atuacao li figure img{
							width: 100%;
							max-width: 65px;
							opacity: 0;
						}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .titulo{
						font-size: 20px;
						line-height: 24px;
						color: #131b23;
						margin: 35px 0 23px;
						display: block;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li p{
						font-size: 16px;
						line-height: 26px;
						color: rgba(0, 28, 40, 0.6);
						margin: 0;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .span-arrow{
						opacity: 0;
						display: block;
						margin: 10px 0 0;
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
						cursor: pointer;
					}
						.pg-inicial .secao-areas-atuacao article .areas-atuacao li .span-arrow img{
							width: 100%;
							max-width: 22px;
						}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li:hover .span-arrow{
						opacity: 1;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li.active-li .span-arrow{
						opacity: 1;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario{
						background-color: #131B23;
						position: absolute;
						top: 0;
						left: 100%;
						width: 0;
						height: 100%;
						/*z-index: 2;*/
						overflow: visible;
						box-shadow: 20px 17px 45px 0 rgba(0,0,0,0.15);
						-webkit-transition: ease-in-out .2s;
						-moz-transition: ease-in-out .2s;
						-ms-transition: ease-in-out .2s;
						-o-transition: ease-in-out .2s;
						transition: ease-in-out .2s;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li .container-formulario.open-formulario{
						width: 100%;
					}
					.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+4) .container-formulario{
						left: unset;
						right: 100%;
					}
	.pg-inicial .secao-vantagens{
		background-color: #FDFDFD;
		background-image: url(img/bkvantagens.png);
		background-size: 466px;
		background-position: right;
		background-repeat: no-repeat;
	}
		.pg-inicial .secao-vantagens article{
			font-size: 0;
			padding: 99px 0 123px;
			position: relative;
		}
		.pg-inicial .secao-vantagens article::before, .pg-inicial .secao-vantagens article::after{
			content: '';
			position: absolute;
		}
		.pg-inicial .secao-vantagens article::before{
			top: 0;
			right: -222px;
			width: 467px;
			height: 100%;
			/*background-image: url(img/bkvantagens.png);*/
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
		.pg-inicial .secao-vantagens article::after{
			bottom: -115px;
			right: 0;
			background-image: url(img/drone.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			width: 638px;
			height: 381px;
		}
			.pg-inicial .secao-vantagens article .titulos-vantagens{}
				.pg-inicial .secao-vantagens article .titulos-vantagens .titulo{
					width: 100%;
				}
				.pg-inicial .secao-vantagens article .titulos-vantagens h4.titulo{}
				.pg-inicial .secao-vantagens article .titulos-vantagens h2.titulo{
					font-size: 48px;
					line-height: 54px;
					color: #101D27;
					margin: 50px 0 0;
				}
					.pg-inicial .secao-vantagens article .titulos-vantagens h2.titulo span{
						display: inline-block;
					}
			.pg-inicial .secao-vantagens article .itens-vantagens{
				margin: 86px 0 0;
			}
				.pg-inicial .secao-vantagens article .itens-vantagens ul{
					padding: 0;
					margin: 0;
					font-size: 0;
				    overflow: hidden;
				}
					.pg-inicial .secao-vantagens article .itens-vantagens ul li{
						display: inline-block;
						width: 100%;
						margin: 0 0 47px;
						position: relative;
						padding-left: 90px;
					}
					.pg-inicial .secao-vantagens article .itens-vantagens ul li:last-child{
						margin: 0 0 0;
					}
						.pg-inicial .secao-vantagens article .itens-vantagens ul li img{
							position: absolute;
							width: 41px;
							top: 50%;
							left: 0;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
						.pg-inicial .secao-vantagens article .itens-vantagens ul li p{
							font-size: 24px;
							line-height: 29px;
							color: #101d27;
							font-family: var(--sen);
							margin: 0;
						}
	.pg-inicial .secao-servicos{
		font-size: 0;
		height: 1173px;
	}
		.pg-inicial .secao-servicos .produtos-gerados, .pg-inicial .secao-servicos .conteudo-produtos-gerados{
			display: inline-block;
			width: 100%;
			max-width: 50%;
			vertical-align: top;
			padding: 76px 0 70px;
			height: 100%;
		}
		.pg-inicial .secao-servicos .produtos-gerados{
			background-color: #131B23;
			text-align: right;
		}
			.pg-inicial .secao-servicos .produtos-gerados .titulo, .pg-inicial .secao-servicos .produtos-gerados ul{
				text-align: left;
				width: 100%;
				max-width: 652px;
				display: block;
				margin: 0 0 0 auto;
			}
			.pg-inicial .secao-servicos .produtos-gerados .titulo{}
			.pg-inicial .secao-servicos .produtos-gerados h4.titulo{
				color: rgba(255, 255, 255, 0.3);
			}
			.pg-inicial .secao-servicos .produtos-gerados h2.titulo{
				color: #F8F5F5;
				line-height: 54px;
				margin: 28px 0 60px auto;
				font-size: 48px;
			}
			.pg-inicial .secao-servicos .produtos-gerados ul{
				padding: 0;
				margin: 0 0 0 auto;
				font-size: 0;
				max-width: 670px;
			}
				.pg-inicial .secao-servicos .produtos-gerados ul li{
					display: block;
					margin: 0 0 10px;
					cursor: pointer;
				}
					.pg-inicial .secao-servicos .produtos-gerados ul li p{
						margin: 0;
						display: inline-block;
						padding: 10px 18px;
						font-size: 18px;
						color: #838383;
						font-family: var(--roboto);
						-webkit-transition: ease-in-out .1s;
						-moz-transition: ease-in-out .1s;
						-ms-transition: ease-in-out .1s;
						-o-transition: ease-in-out .1s;
						transition: ease-in-out .1s;
					}
					.pg-inicial .secao-servicos .produtos-gerados ul li p:hover{
						background-color: #fff;
						color: #131B23;
						font-weight: 600;
					}
					.pg-inicial .secao-servicos .produtos-gerados ul li p.produto-ativo{
						background-color: #fff;
						color: #131B23;
						font-weight: 600;
						position: relative;
					}
					.pg-inicial .secao-servicos .produtos-gerados ul li p.produto-ativo::before{
						content: '';
						position: absolute;
						top: 0;
						left: -14px;
						width: 14px;
						height: 100%;
						background-color: var(--azul-principal);
					}
			.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados{
				width: 100%;
				position: relative;
			}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados .span-produto-ativo{
					background-color: #fff;
					color: #131B23;
					font-weight: 500;
					padding: 10px 54px 10px 22px;
					font-size: 14px;
					font-family: var(--roboto);
					width: 100%;
					display: block;
					position: relative;
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados .span-produto-ativo::before{
					content: '';
					position: absolute;
					top: 50%;
					right: 20px;
					width: 28px;
					height: 28px;
					background-image: url('img/arrow.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					-webkit-transform: translateY(-50%) rotate(90deg);
					-moz-transform: translateY(-50%) rotate(90deg);
					-ms-transform: translateY(-50%) rotate(90deg);
					-o-transform: translateY(-50%) rotate(90deg);
					transform: translateY(-50%) rotate(90deg);
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul{
					max-width: 100%;
					position: absolute;
					background-color: #fff;
					z-index: 3;
					height: 0;
					padding: 0;
					overflow: hidden;
					-webkit-transition: ease-in-out .3s;
					-moz-transition: ease-in-out .3s;
					-ms-transition: ease-in-out .3s;
					-o-transition: ease-in-out .3s;
					transition: ease-in-out .3s;
				}
				.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados{
					height: 571px;
					padding: 10px 0 0;
				}
					.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul li{}
		.pg-inicial .secao-servicos .conteudo-produtos-gerados{
			background-color: #e8e8e8;
			padding: 247px 0 70px;
			display: none;
		}
		.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo{
			display: inline-block;
		}
			.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos{
				width: 100%;
				max-width: 607px;
				-webkit-transform: translateX(-72px);
				-moz-transform: translateX(-72px);
				-ms-transform: translateX(-72px);
				-o-transform: translateX(-72px);
				transform: translateX(-72px);
				-webkit-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-moz-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-ms-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				-o-box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
				box-shadow: 0 17px 45px 0 rgba(0,0,0,0.15);
			}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer{
					height: 394px;
				}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos figure{
					width: 100%;
					margin: 0;
					background-color: #2d2d2d;
					padding: 37px 29px;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos figure img{
						width: 100%;
					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav{
					position: absolute;
					bottom: 0;
					right: -44px;
					display: flex;
					flex-direction: column-reverse;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button{
						display: block;
						width: 44px;
						height: 44px;
						background-color: var(--azul-principal);
						background-position: center;
						background-size: 27px;
						background-repeat: no-repeat;
						outline: none;
						-webkit-transition: ease-in-out .2s;
						-moz-transition: ease-in-out .2s;
						-ms-transition: ease-in-out .2s;
						-o-transition: ease-in-out .2s;
						transition: ease-in-out .2s;
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-prev{
						background-image: url(img/left.svg);
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-prev span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-next{
						background-image: url(img/right.svg);
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav .owl-next span{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button.disabled{
						background-color: #b9b9b9;
					}
						.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button.disabled span{}
			.pg-inicial .secao-servicos .conteudo-produtos-gerados article{
				width: 100%;
				max-width: 953px;
				text-align: right;
				margin: 63px 0 0;
			}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					text-align: left;
					width: 100%;
					max-width: 852px;
					display: inline-block;
				}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					max-width: 793px;
				}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo{
						font-size: 36px;
						line-height: 38px;
						color: #131b23;
						width: 100%;
						max-width: 690px;
						padding-left: 30px;
					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos{}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p{
						font-size: 16px;
						line-height: 24px;
						color: rgba(0, 28, 40, 0.6);
						margin: 54px 0 52px;
						width: 100%;
						max-width: 470px;
						padding-left: 30px;
					}
				.pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais{
					padding-left: 30px;
				}
					.pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais span{
						font-size: 16px;
						line-height: 19px;
						font-family: var(--sen);
						font-weight: 600;
						color: #fff;
						background-color: var(--azul-principal);
						display: inline-block;
						padding: 20px 78px;
						cursor: pointer;
					}
/* PÁGINA INICIAL 

/* EXTRAS */
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9{
	padding: 0;
}
.row{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	display: block;
	width: 10px;
	background-color: #dcdcdc;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #52bdf2;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	border: 2px solid #f7e700;
	font-size: 13px;
	background-color: #f7e700;
	line-height: 15px;
	margin: 2em 0.5em 0;
}
div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
	font-size: 13px;
	line-height: 15px;
	background-color: #398f14;
	color: #fff;
	margin: 2em 0.5em 0;
}
div.wpcf7-mail-sent-ng, div.wpcf7-aborted {
	border: 2px solid #ff0000;
	font-size: 13px;
	line-height: 15px;
	background-color: #ff0000;
	color: #fff;
}
.hide-translate-y{
	opacity: 0;
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-ms-transform: translateY(60px);
	-o-transform: translateY(60px);
	transform: translateY(60px);
	-webkit-transition: ease-in-out .8s;
	-moz-transition: ease-in-out .8s;
	-ms-transition: ease-in-out .8s;
	-o-transition: ease-in-out .8s;
	transition: ease-in-out .8s;
}
.show-translate-y{
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.hide-translate-x{
	opacity: 0;
	-webkit-transform: translateX(60px);
	-moz-transform: translateX(60px);
	-ms-transform: translateX(60px);
	-o-transform: translateX(60px);
	transform: translateX(60px);
	-webkit-transition: ease-in-out .8s;
	-moz-transition: ease-in-out .8s;
	-ms-transition: ease-in-out .8s;
	-o-transition: ease-in-out .8s;
	transition: ease-in-out .8s;
}
.show-translate-x{
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.my-fade-out{
	opacity: 0;
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	-ms-transform: translateY(-20px);
	-o-transform: translateY(-20px);
	transform: translateY(-20px);
	-webkit-transition: ease-in-out .4s;
	-moz-transition: ease-in-out .4s;
	-ms-transition: ease-in-out .4s;
	-o-transition: ease-in-out .4s;
	transition: ease-in-out .4s;
}
.my-translate-down{
	opacity: 0;
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	-ms-transform: translateY(20px);
	-o-transform: translateY(20px);
	transform: translateY(20px);
}
.my-translate-up{
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: ease-in-out .4s;
	-moz-transition: ease-in-out .4s;
	-ms-transition: ease-in-out .4s;
	-o-transition: ease-in-out .4s;
	transition: ease-in-out .4s;
}
/* EXTRAS */

/* MEDIA QUERY */
@media(max-width: 1710px){
	.pg-inicial .secao-vantagens article::before {
		right: 0;
	}
}
@media(max-width: 1550px){
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		max-width: 735px;
		right: -80px;
	}
}

@media(max-width: 1430px){
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		margin: 0 13.3% 0 auto;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		padding-left: 45px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p,.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais {
		padding-left: 30px;
	}
}

@media(max-width: 1415px){
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		max-width: 675px;
		right: -50px;
		top: -157px;
	}
}

@media(max-width: 1350px){
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		right: 0;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure {
		width: 95%;
		height: 82%;
	}
}

@media(max-width: 1300px){
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		margin: 0 8% 0 auto;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img {
		max-width: 500px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque figure {
		display: flex;
		justify-content: center;
	}
	.pg-inicial .secao-destaque .conteudo-destaque figure video {
		width: auto;
		height: 100%;
	}
}
@media(max-width: 1260px){
	.large-container {
		padding: 0 30px;
	}
}
@media(max-width: 1200px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre {
		height: 385px;
	}
	header .navbar ul li {
		margin-left: 45px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		font-size: 46px;
		line-height: 50px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk{
		padding: 0 30px;	
	}
	.pg-inicial .secao-servicos .produtos-gerados {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav {
		right: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais {
		padding-left: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados {
		padding-right: 30px;
		padding-left: 30px;
	}
	.secao-areas-atuacao #formularioFaleConosco form .div-button-enviar {
		margin: 94px 0 0;
	}
	.secao-areas-atuacao #formularioFaleConosco .fechar-formulario, #formularioFaleConosco .titulo, #formularioFaleConosco form label {
		padding: 0 32px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 349px;
	}
}
@media(max-width: 1130px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img {
		max-width: 400px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		margin: 0 3% 0 auto;
	}
}
@media(max-width: 991px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais {
		margin: 30px 0 30px;
	}
	header .navbar ul li {
		margin-left: 22px;
	}
	header .navbar ul li a {
		font-size: 15px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre .titulo {
		max-width: 100% !important;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		margin: 20px 0 0;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 80px 0 155px;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 33.3%;
		margin: 0 0 10px;
		padding: 30px 3.2% 24px;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(4n+4) .container-formulario {
		left: 100%;
		right: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(3n+3) .container-formulario {
		right: 100%;
		left: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao {
		margin: 60px 0 0;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li {
		margin: 0 0 30px;
	}
	.pg-inicial .secao-vantagens {
		padding: 60px 0 50px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav button {
		width: 38px;
		height: 38px;
	}
	.pg-inicial .secao-servicos {
		height: 1050px;
	}
	.secao-areas-atuacao #formularioFaleConosco form .div-button-enviar {
		margin: 55px 0 0;
	}
	.secao-areas-atuacao #formularioFaleConosco {
		padding: 30px 0 0;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		max-width: 520px;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos {
		padding-left: 26px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article p br{
		display: none;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure img {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p {
		margin: 0 0 0;
		font-size: 17px;
		line-height: 27px;
		max-width: 100%;
		padding: 0 30px;
		margin: 0 auto 30px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre {
		margin: 50px 0 0;
		height: 420px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 50px 0 50px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		margin: 0 4% 0 auto;
		max-width: 478px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk p {
		line-height: 27px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .titulo {
		font-size: 42px;
		line-height: 46px;
		margin: 34px 0 42px;
	}
	.pg-inicial .secao-vantagens article::before{
		display: none;
	}
	.pg-inicial .secao-vantagens article::after {
		bottom: -145px;
		width: 458px;
		height: 276px;
	}
	.pg-inicial .secao-vantagens article{
		padding: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados {
		padding: 170px 30px 70px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure, .pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre{
		max-width: 100% !important;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		padding: 380px 0 50px;
		margin: 0 auto;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure {
		text-align: center;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure.desktop-element {
		display: none !important;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre figure.mobile-element {
		display: inline-block !important;
	}
	.pg-inicial .secao-sobre .full-container::before{
		display: none;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		padding-left: 0;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 295px;
	}
	.pg-inicial .secao-vantagens{
		background-image: none;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure {
		width: 95%;
		height: 58%;
	}
}
@media(max-width: 850px){
	.pg-inicial .secao-vantagens article .titulo-vantagens .titulo {
		font-size: 45px;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos {
		padding-left: 18px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 250px;
	}
}
@media(max-width: 768px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p{
		padding: 0;
	}
	header .navbar ul li {
		margin-left: 10px;
	}
	.mobile-element{
		display: inline-block !important;
	}
	.desktop-element{
		display: none !important;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre {
		margin: 30px 0 0;
	}
	.full-container {
		padding: 0 30px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk {
		padding: 0;
		margin: 35px auto;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 50%;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(2n+2) .container-formulario {
		right: 100%;
		left: unset;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li:nth-child(3n+3) .container-formulario {
		left: 100%;
		right: unset;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens, .pg-inicial .secao-vantagens article .itens-vantagens {
		max-width: 100% !important;
	}
	.pg-inicial .secao-vantagens {
		padding: 50px 0;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens {
		margin: 65px 0 0;
	}
	.pg-inicial .secao-vantagens article .titulos-vantagens h2.titulo {
		margin: 10px 0 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados, .pg-inicial .secao-servicos .conteudo-produtos-gerados {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .produtos-gerados{
		padding: 70px 30px 60px;
	}
	.pg-inicial .secao-servicos {
		height: unset;
	}
	.pg-inicial .secao-servicos .produtos-gerados h4.titulo{
		margin: 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados h2.titulo {
		margin: 50px 0 30px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul {
		margin: 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados{
		text-align: left;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo {
		padding: 0 0 70px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article{
		padding: 0 30px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-nav {
		bottom: -38px;
	}
	footer {
		padding: 50px 0 0;
	}
	footer .menu-footer {
		margin: 39px 0 0 !important;
	}
	footer .col-md-3 .menu-footer {
		max-width: 100%;
	}
	footer .copyright {
		margin: 40px 0 0;
		padding: 0;
	}
	footer .copyright p {
		text-align: center !important;
		line-height: 20px;
		padding: 12px 30px;
	}
	footer .copyright .large-container{
		padding: 0;
	}
	footer .copyright .col-md-6:nth-child(2){
		background-color: #d8d8d8;
	}
	.secao-areas-atuacao #formularioFaleConosco form .div-button-enviar {
		margin: 29px 0 0;
	}
	.secao-areas-atuacao #formularioFaleConosco {
		padding: 30px 0 0;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos, .pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem {
		max-width: 100%;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao {
		margin: 35px 0 0;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		max-width: 490px;
		top: -210px;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos h2.titulo {
		margin: 10px 0 0;
	}
	.pg-inicial .secao-areas-atuacao .large-container {
		padding: 115px 0 35px;
	}
	.pg-inicial .secao-sobre .full-container {
		background: none;
	}
	.pg-inicial .secao-vantagens article::after{
		bottom: unset;
		top: -300px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.pg-inicial .secao-areas-atuacao .large-container {
		padding: 115px 0 155px;
	}
	.pg-inicial .secao-vantagens {
		padding: 196px 0 50px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul li p{
		display: block;
	}
	.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados {
		height: 483px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul li {
		margin: 0 0 5px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul li p {
		padding: 7px 18px;
		font-size: 16px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk{
		height: 850px;
	}
	footer .menu-footer nav a {
		line-height: 23px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 470px;
	}
}
@media(max-width: 690px){
	header .open-menu-mobile{
		display: block;
	}
	header .navbar {
		position: absolute;
		background-color: #121a22;
		top: -50px;
		right: 130%;
		width: 100%;
		height: 100vh;
		padding: 50px 30px;
		overflow-y: scroll;
		-webkit-transition: ease-in-out .2s;
		-moz-transition: ease-in-out .2s;
		-ms-transition: ease-in-out .2s;
		-o-transition: ease-in-out .2s;
		transition: ease-in-out .2s;
	}
	header .navbar.opened-menu {
		right: 0;
	}
	header .navbar ul{
		text-align: left;
	}
	header .navbar ul li {
		display: block;
		margin: 0 0 64px;
	}
	header .navbar ul li a {
		font-size: 26px;
		line-height: 31px;
	}
	header .navbar .redes-sociais, header .navbar .close-menu-mobile, header a.logo-mobile figure{
		display: block;
	}
	.pg-inicial .secao-destaque {
		height: 100vh;
	}
	.pg-inicial .secao-destaque .conteudo-destaque .large-container{
		height: 100%;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article {
		padding: 0 0 50px;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: flex-end;
	}
	.pg-inicial .secao-destaque .conteudo-destaque {
		height: 100%;
	}
	header {
		padding: 50px 0 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article p {
		font-size: 18px;
		line-height: 26px;
	}
	.pg-inicial .secao-servicos .produtos-gerados ul li p {
		font-size: 14px;
	}
	.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados {
		height: 450px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .titulo {
		font-weight: 500;
		height: 120px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li p {
		font-size: 15px;
		line-height: 17px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li img {
		width: 28px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li {
		padding-left: 52px;
	}
	header a.logo figure img {
		max-width: 150px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 438px;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure {
		width: 95%;
		height: 41%;
	}
}
@media(max-width: 670px){
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo, .pg-inicial .secao-destaque .conteudo-destaque article .div-descricao{
		max-width: 100%;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo {
		margin-right: 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao p {
		margin: 0 0 58px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-descricao {
		margin: 35px 0 0;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		margin: 29px 0 0;
		font-size: 24px;
		line-height: 32px;
	}
	.titulo-secao {
		font-size: 15px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p {
		font-size: 16px;
		line-height: 26px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		padding: 30px 0 64px;
	}
	.pg-inicial .secao-servicos .produtos-gerados {
		padding: 40px 30px 50px;
	}
	.pg-inicial .secao-servicos .produtos-gerados h2.titulo {
		margin: 10px 0 45px;
		font-size: 24px;
		line-height: 32px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados.conteudo-produtos-ativo {
		padding: 0 0 50px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo {
		font-size: 30px;
		line-height: 35px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p, .pg-inicial .secao-servicos .conteudo-produtos-gerados article .button-saiba-mais {
		max-width: 100%;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-texto-produtos p {
		margin: 30px 0;
	}
	.div-pop-up-formulario .container-pop-up {
		max-width: 315px;
		height: 720px;
		margin: 30px auto;
	}
	.div-pop-up-formulario .container-pop-up .conteudo-pop-up, .div-pop-up-formulario .container-pop-up .container-formulario {
		max-width: 100%;
	}
	.div-pop-up-formulario .container-pop-up .container-formulario {
		height: unset;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		height: 740px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk figure img {
		width: 100%;
		max-width: 90px;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-titulos h2.titulo {
		font-size: 24px;
		line-height: 32px;
		max-width: 310px;
	}
	.pg-inicial .secao-vantagens article .titulos-vantagens h2.titulo {
		font-size: 24px;
		line-height: 32px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .titulo {
		font-size: 26px;
		line-height: 35px;
	}
}
@media(max-width: 600px){
	.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados {
		height: 492px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 386px;
	}
}
@media(max-width: 500px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais span {
		display: block;
		text-align: center;
		padding: 20px 0;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .button-saiba-mais {
		padding: 0;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo .titulo {
		font-size: 49px;
		line-height: 52px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre .selos-prohawk li {
		max-width: 25%;
		text-align: center;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk figure, .pg-inicial .secao-sobre .sobre-selo-prohawk .titulo, .pg-inicial .secao-sobre .sobre-selo-prohawk p{
		padding-left: 30px;
	}
	.pg-inicial .secao-sobre .full-container{
		padding: 0;
		padding-right: 30px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .texto-importante p{
		padding: 0;
	}
	.pg-inicial .secao-areas-atuacao article .areas-atuacao li {
		max-width: 100%;
		padding: 34px 7.2% 30px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens ul li{
		max-width: 100%;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .full-container{
		padding: 0 30px;
	}
	.pg-inicial .secao-areas-atuacao article .topo-areas-atuacao .topo-areas-atuacao-imagem img {
		top: -220px;
		right: -130px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .conteudo-sobre .texto-sobre p {
		font-size: 16px;
		line-height: 23px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk .titulos-sobre h2.titulo {
		font-size: 22px;
		line-height: 28px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk li {
		text-align: center;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk li img {
		max-height: 68px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk {
		margin: 30px 0 0;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .titulo {
		margin: 22px 0 32px;
	}
	.pg-inicial .secao-vantagens article .itens-vantagens {
		margin: 40px 0 0;
	}
	.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados {
		height: 555px;
	}
	.pg-inicial .secao-vantagens article::after {
		width: 398px;
		height: 236px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		height: 760px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 333px;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure {
		width: 95%;
		height: 28%;
	}
}
@media(max-width: 400px){
	footer .copyright p {
		font-size: 12px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .div-titulo .titulo {
		font-size: 40px;
		line-height: 42px;
	}
	.pg-inicial .secao-vantagens article .titulo-vantagens .titulo {
		font-size: 42px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk .selos-prohawk li img {
		max-height: 50px;
	}
	.pg-inicial .secao-servicos .produtos-gerados .menu-produtos-gerados ul.abrir-menu-produtos-gerados {
		height: 618px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados article .div-titulo-produtos .titulo {
		font-size: 27px;
	}
	.pg-inicial .secao-areas-atuacao .large-container {
		padding: 145px 0 85px;
	}
	.pg-inicial .secao-vantagens {
		padding: 126px 0 50px;
	}
	.pg-inicial .secao-vantagens article::after {
		width: 278px;
		height: 165px;
		top: -187px;
	}
	.pg-inicial .secao-destaque .conteudo-destaque article .titulo {
		line-height: 50px;
		height: 160px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		padding: 340px 0 50px;
	}
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		height: 810px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 269px;
	}
}
@media(max-width: 360px){
	.pg-inicial .secao-sobre .titulo-sobre-prohawk {
		height: 900px;
	}
	.pg-inicial .secao-sobre .sobre-selo-prohawk {
		padding: 280px 0 50px;
	}
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 246px;
	}
	.div-pop-up-video-conheca-prohawk .conteudo-pop-up-video figure {
		width: 100%;
		height: 24%;
	}
}
@media(max-width: 340px){
	.pg-inicial .secao-servicos .conteudo-produtos-gerados .carrossel-servicos .owl-stage-outer {
		height: 227px;
	}
}
/* MEDIA QUERY */